{% extends 'base.html' %}

{% block title %}{{ call }}{%endblock%}



{% block container %}

  <table class="table table-striped">
    <thead>
      <tr class="success">
        <th>Opportunity</th>
        <th>Date</th>
        <th>Note</th>
        <th>User</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ calllog.opportunity }}</td>
        <td>{{ calllog.date }}</td>
        <td>{{ calllog.note }}</td>
        <td>{{ calllog.user }}</td>
        <td><a href="{% url 'crm:callupdate' calllog.id %}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a href="{% url 'crm:calldelete' calllog.id %}"><span class="glyphicon glyphicon-remove" style="color:red;"></a></td>
      </tr>
    </tbody>
  </table>
<a class="btn btn-success" style="background:#009688; float:right;" href="{% url 'crm:calllist' %}">Return to Call Log List</a>
{% endblock %}