
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}all calls{%endblock%}


{% block container %}

<h1>Calls</h1>
  <a class="btn btn-success" style="background:#009688; margin-top:-45px; float:right;" href="{% url 'crm:callcreate' %}">Add a New Call</a>

  <div class="list-group">
    {% if calllog_list %}
    {% for call in calllog_list %}
    <a class="list-group-item" href="{% url 'crm:callinfo' call.id %}">{{ call }}</a>
    {% endfor %}
    {% else %}
    <p>No calls to list.</p>
    {% endif %}
  </div>
{% endblock %}