{% extends 'base.html' %}

{% block title %}Company {{ company.name }}{% endblock %}

{% block container %}

  <table class="table table-striped">
    <thead>
      <tr class="success">
        <th>Name</th>
        <th>Website</th>
        <th>Address 1</th>
        <th>Address 2</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ company.name }}</td>
        <td>{{ company.website }}</td>
        <td>{{ company.address1 }}</td>
        <td>{{ company.address2 }}</td>
        <td>{{ company.city }}</td>
        <td>{{ company.state }}</td>
        <td>{{ company.zipcode }}</td>
        <td>{{ company.country }}</td>
        <td>{{ company.phone }}</td>
        <td><a href="{% url 'crm:companyupdate' company.id %}"><span class="glyphicon glyphicon-edit"></a></td>
        <td><a href="{% url 'crm:companydelete' company.id %}"><span style="color:red;" class="glyphicon glyphicon-remove"></a></td>
      </tr>
    </tbody>
  </table>
<a class="btn btn-success" style="background:#009688; float:right;" href="{% url 'crm:companylist' %}">Return to Company List</a>
{% endblock %}