{% extends 'base.html' %}

{% block title %}{{ contact }}{%endblock%}



{% block container %}

<div class="box" style="padding-top: 60px; padding-left: 15px;">

<h1>{{ contact.get_full_name }} </h1>
<table class="table" style="margin-top:50px;">
<tbody>
<tr>
	<th >Company:</th>
	<td>{{ contact.company }}</td>
</tr>
<tr>
	<th>Name:</th>
	<td>{{ contact.get_full_name }}</td>
</tr>
<tr>
	<th>Address:</th>
	<td>{{ contact.address1 }}<br>
		{{ contact.address2 }}<br>
		{{ contact.city }}, {{ contact.state }} {{ contact.zipcode }}<br>
		{{ contact.country }}</td>
</tr>
<tr>
	<th>Phone:</th>
	<td>{{ contact.phone }}</td>
</tr>
<tr>
	<th>Email:</th>
	<td>{{ contact.email }}</td>
</tr>
</tbody>
</table>

</div>
{% endblock %}