{% extends 'base.html' %}
{% block title %}CRM Opportunity Dashboard{% endblock %}
{% block scripts %}

{% endblock %}
{% block container %} 
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1 style="margin-left: 10px;">{{ opportunity }} ({{ opportunity.stage }})</h1>
                <p style="margin-left: 20px;">lead salesman {{ opportunity.user }}</p>
                <p class="pull-right" style='margin-right: 15px;'><a href="{ url 'crm:opportunityupdate' opportunity.id }">Edit</br>   </a></p>
             </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Contact Information
                </div>
                <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>Company</td>
                        <td><a href="{ url 'crm:companydetail' opportunity.company.id }">{{opportunity.company}}</a></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{opportunity.company.address1}}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{opportunity.company.city}}</td>
                    </tr>
                    <tr>
                        <td>{{opportunity.company.state}} {{opportunity.company.zip}}</td>
                        <td>UT, 84770</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{opportunity.company.phone}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{opportunity.contact.email}}">{{opportunity.contact.email}}</a></td>
                    </tr>
                </table>
                    <div class="pull-right">
                    <a href="{ url 'crm:opportunityedit' opportunity.id }" class='glyphicon glyphicon-edit'></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Map
                        <span class="text-right pull-right">
                            <a href="{ url 'crm:opportunitylist' }" class="btn btn-info btn-sm mdi-action-list" style="margin-top: -7px;" title="List all Opportunities"></a>
                        </span>
                </div>
                <div class="panel-body">
    <center><div id="map" style="width: auto; height: 300px;"></div></center>
<script>

var map;
function initMap() {
    address = '{{ opportunity.company.address1 }} {{ opportunity.company.address2 }}, {{ opportunity.company.city }}, {{ opportunity.company.state }} {{ opportunity.company.zipcode }}' ;
    var geocoder  = new google.maps.Geocoder();
    geocoder.geocode({ 'address': address}, function(results, status) {
        var c = results[0].geometry.location;
        latitude  = c.lat();
        longitude = c.lng();
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: latitude, lng: longitude},
            scrollwheel: false,
            zoom: 14,
        });
        var marker = new google.maps.Marker({
            map: map,
            position: {lat: latitude, lng: longitude},
            title: 'Opportunity Name',
        });
    });
}
</script>
</script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDxCDEfKuCyTVE-Ex43CG5PQec_Uc5CiQQ&callback=initMap" async defer></script>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Call Log for {{opportunity.name}}.
                        <span class="text-right pull-right">
                            <a href="#" class="btn btn-primary btn-sm mdi-action-list" style="margin-top: -7px;" title="List all Opportunities"></a>
                        </span>
                </div>
                <div class="panel-body">
                <table class="table">
                <tr>   
                    <th>Date</th>
                    <th>Note</th>
                    <th>Who</th>
                </tr>
                {% for call in opportunity.calllog_set.all %}
                <tr>   
                    <td>{{call.date}}</td>
                    <td>{{call.note}}</td>
                    <td>{{call.user.name}}</td>
                </tr>
                {% empty %}
                <p>No calls to display</p>
                {% endfor %}
                </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Stage History
                        <span class="text-right pull-right">
                            <a href="#" class="btn btn-primary btn-sm mdi-action-list" style="margin-top: -7px;" title="List all Opportunities"></a>
                        </span>
                </div>
                <div class="panel-body">
                    <table class="table">
                    {% for status in opportunity.opportunitystage_set.all %}
                    <tr>
                        <td>{{status.timestamp}}</td>
                        <td>{{status.state}}</td>
                        <td>{{status.user}}</td>
                    </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}