{% extends 'base.html' %}

{% block title %}Reminder {{ reminder.name }}{% endblock %}

{% block container %}

  <table class="table table-striped">
    <thead>
      <tr class="success">
        <th>Opportunity</th>
        <th>Date</th>
        <th>Note</th>
        <th>Completed</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ reminder.opportunity }}</td>
        <td>{{ reminder.date }}</td>
        <td>{{ reminder.note }}</td>
        <td>{{ reminder.completed }}</td>
        <td><a href="{% url 'crm:reminderupdate' reminder.id %}"><span class="glyphicon glyphicon-edit"></a></td>
        <td><a href="{% url 'crm:reminderdelete' reminder.id %}"><span style="color:red;" class="glyphicon glyphicon-remove"></a></td>
      </tr>
    </tbody>
  </table>
<a class="btn btn-success" style="background:#009688; float:right;" href="{% url 'crm:reminderlist' %}">Return to Reminder List</a>
{% endblock %}